.about-content{
    max-width: 751px;
    margin: 500px;
}

.about-breif{
    padding: 120px;
}
.about-name{
    padding-top: 26px;
}

 @media screen and (max-width: 992px) {
  .about-breif{
    padding:100px 60px;
}
  }
  

  @media screen and (max-width: 600px) {
    .about-breif{
      padding: 100px 0px;
  }
  } 